<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
    <body>
        <p>
            The heading above refers.

            We are pleased to inform you that we are planning to perform audit engagement at your organisation
            <strong th:text="${engagement.parentEngagement.name}"></strong>
            on <strong th:text="${engagement.process}"></strong>. This is in relation to our risk based annual internal
            audit plan <span th:text="${engagement.financialYear.name}"></span>.

            The overall objective of the engagement is <strong th:text="${objective}"></strong>.
            The engagement team members are
            <ul>
                <li th:each="m: ${members}" >
                    <span th:text="${m.user.firstName}"></span>
                    &nbsp;
                    <span th:text="${m.user.lastName}"></span>
                </li>
            </ul>
            The team leader for this audit engagement is ${teamLeader}.
            The duration of the engagement is ? days starting from <strong th:text="${engagement.startDate}"></strong>
            to <strong th:text="${engagement.endDate}"></strong>

            Looking forward for your co-operation

    </body>
</html>
