<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <title >Invitation to Form Engagement Team</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.email})}">
            Dear
        </p>
        <p>
            The heading above refers.

            I have appointed you to form part of an audit team for the engagement
            on <strong th:text="${engagement.process}"></strong>. This is in relation to [our risk based annual internal
            audit plan 2019/20 request from management].

            The overall objective of the engagement is <strong th:text="${objective}"></strong>.
            The team leader for this audit engagement is <strong th:text="${teamLeader}"></strong>
            The duration of the engagement is <span th:text="${engagement.scope}"> starting from <strong th:text="${engagement.startDate}"></strong>
            to <strong th:text="${engagement.endDate}"></strong>

            Looking forward to quality work, timely completion and submission of audit report.
            Wishing you all the best in executing the assigned task.
        </p>
        <p >
            <a style="padding: 8px; border: 1px solid #ccc"
               th:with="url=(@{|${baseUrl}${apiVersion}/engagement-members/nda/${engagementMember.id}|})"
               th:href="${url}">Click here to complete Independence Declaration Form</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Engagement Team Lead</em>
        </p>
    </body>
</html>
