<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Non Disclosure Agreement</title>
    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        li {
            margin: 8px 0
        }
    </style>
</head>

<body>
<div style="width: 60%; margin:0 auto" class="container">
    <h4 style="text-align: center;color: darkred">W/P Ref No E10-2</h4>
    <h2 style="text-align: center">DECLARATION OF INDEPENDENCE</h2>
    <p>I <u><b><span th:text="${fullName}"></span></b></u> hereby declare：</p>
    <div style="padding:8px 4px; border-radius:4px; border:1px solid #ccc; margin:8px 0">
    <ul >
        <li>That, I have not recently worked or transferred into internal audit from
            <span th:text="${auditee}"></span> in the previous year.</li>
        <li>That, I shall not assume, without evidence, that an area being audited has effectively mitigated
            risks based solely on prior positive audit or my personal experience.</li>
        <li>That, I shall not modify the planned approach or the results based on the undue influence of another
            person such as my senior, without appropriate justification.</li>
        <li>That, I have no personal interest, direct or indirect, in any matter that raises or may raise a conflict
            with my duties as an auditor.</li>
        <li>That, as an auditor, I shall at all times adhere fully with the International Professional Practices Framework (IPPF) on
            Independence and Objectivity Standards.</li>
    </ul>
    </div>
    <div style="align-content: flex-end; margin-top:8px">
        <a style="padding: 8px; margin: 4px; background-color: green;color: white;
            border: 1px solid #ccc" type="button"
           th:href="${agreeUrl}"> I agree and Sign</a>
        <a style="padding: 8px; margin: 4px; background-color: darkred; color: white;
         border: 1px solid #ccc" type="button"
           th:href="${declineUrl}"> I Decline</a>
    </div>
</div>
</body>
</html>
