<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
    <body>
        <p>
            We have completed an audit of the <span></span><strong th:text="${engagement.process}"></strong>. Our
            audit covered the <strong th:text="${engagement.process}">
              </strong>&nbsp;
            Controls were generally adequate and effective in mitigating the risks except for
            some shortcomings in correct interpretation of some of the provisions of the PPA (2011)
            and its related regulations, delay in procurement procedures, inadequate composition of
            PMU and non- production of monthly procurement progress reports. The details of these
            findings will be found in the attached report. Overall, however, the procurement appears
            to be meeting its major objectives.
            Corrective action has been initiated and is continuing to correct all reported
            findings.
        </p>

    </body>
</html>
